<p>Hey <%= name %>,</p>
<p>
    Thanks for signing up for myapp. We're very excited to have you on board.
</p>

<p>To get started using our App, please confirm your account using this pin code:</p>
<p>
<h2>
    <%= pin %>
</h2>
</p>